@media (min-width: 720px){

    /* << fin version escritorio  */

      /* ///////// BAJO CONSTRUCCION //////////// */
      #bajoConstruccion h1{
        display:flex;
        justify-content: center;
        }
        #bajoConstruccion .construccionImg {
            display:flex;
            margin:auto;
        }
        #bajoConstruccion p{
            display:flex;
            justify-content: center;
        }
      /* ///////// BAJO CONSTRUCCION //////////// */
    
    }

